[submodule "ui/form/FormKit.m"]
	path = ui/form/FormKit.m
	url = https://github.com/brunow/FormKit.m.git
[submodule "ui/date/DIDatepicker"]
	path = ui/date/DIDatepicker
	url = https://github.com/noxt/DIDatepicker.git
[submodule "ui/text/UIFloatLabelTextField"]
	path = ui/text/UIFloatLabelTextField
	url = https://github.com/ArtSabintsev/UIFloatLabelTextField.git
[submodule "ui/text/UIFloatLabelTextView"]
	path = ui/text/UIFloatLabelTextView
	url = https://github.com/ArtSabintsev/UIFloatLabelTextView.git
[submodule "ui/form/DCDataForm"]
	path = ui/form/DCDataForm
	url = https://github.com/austiniam/DCDataForm.git
[submodule "ui/pin/THPinViewController"]
	path = ui/pin/THPinViewController
	url = https://github.com/antiraum/THPinViewController.git
[submodule "ui/menu/iOSContextualMenu"]
	path = ui/menu/iOSContextualMenu
	url = https://github.com/hectormatos2011/iOSContextualMenu.git
