[submodule "ui/form/FormKit.m"]
	path = ui/req.form/FormKit.m
	url = https://github.com/brunow/FormKit.m.git
	branch = master
[submodule "ui/req.date/DIDatepicker"]
	path = ui/req.date/DIDatepicker
	url = https://github.com/noxt/DIDatepicker.git
	branch = master
[submodule "ui/req.text/UIFloatLabelTextField"]
	path = ui/req.text/UIFloatLabelTextField
	url = https://github.com/ArtSabintsev/UIFloatLabelTextField.git
	branch = master
[submodule "ui/req.text/UIFloatLabelTextView"]
	path = ui/req.text/UIFloatLabelTextView
	url = https://github.com/ArtSabintsev/UIFloatLabelTextView.git
	branch = master
[submodule "ui/form/DCDataForm"]
	path = ui/req.form/DCDataForm
	url = https://github.com/austiniam/DCDataForm.git
	branch = master
[submodule "ui/pin/THPinViewController"]
	path = ui/req.password/THPinViewController
	url = https://github.com/antiraum/THPinViewController.git
	branch = master
[submodule "ui/req.menu/iOSContextualMenu"]
	path = ui/req.menu/iOSContextualMenu
	url = https://github.com/hectormatos2011/iOSContextualMenu.git
	branch = master
[submodule "ui/button/FlatButtons"]
	path = ui/ext.UIButton/FlatButtons
	url = https://github.com/brennanMKE/FlatButtons.git
	branch = master
[submodule "ui/slider/SSTTapSlider"]
	path = ui/ext.UISlider/SSTTapSlider
	url = https://github.com/brennanMKE/SSTTapSlider.git
	branch = master
[submodule "ui/slider/ASValueTrackingSlider"]
	path = ui/ext.UISlider/ASValueTrackingSlider
	url = https://github.com/alskipp/ASValueTrackingSlider.git
	branch = master
[submodule "ui/button/ACPButton"]
	path = ui/ext.UIButton/ACPButton
	url = https://github.com/antoniocasero/ACPButton.git
	branch = master
[submodule "doc/article/objc.io-articles"]
	path = doc/article/objc.io-articles
	url = https://github.com/objcio/articles.git
	branch = master
[submodule "ui/req.text/MVTextInputScroller"]
	path = ui/req.text/MVTextInputScroller
	url = https://github.com/bizz84/MVTextInputScroller.git
	branch = master
[submodule "foundation/date/DateTools"]
	path = foundation/date/DateTools
	url = https://github.com/MatthewYork/DateTools.git
	branch = master
[submodule "ui/animation/BCGenieEffect"]
	path = ui/req.animation/BCGenieEffect
	url = https://github.com/Ciechan/BCGenieEffect.git
	branch = master
[submodule "ui/exhibition/MJParallaxCollectionView"]
	path = ui/ext.UICollectionView/MJParallaxCollectionView
	url = https://github.com/mayuur/MJParallaxCollectionView.git
	branch = master
[submodule "ui/animation/MVBouncyView"]
	path = ui/req.animation/MVBouncyView
	url = https://github.com/bizz84/MVBouncyView.git
	branch = master
[submodule "ui/collection/AsyncCollections"]
	path = ui/ext.UICollectionView/AsyncCollections
	url = https://github.com/bilby91/AsyncCollections.git
	branch = master
[submodule "ui/selector/BWSelectViewController"]
	path = ui/req.checkbox/BWSelectViewController
	url = https://github.com/brunow/BWSelectViewController.git
	branch = master
[submodule "foundation/module/Mantle"]
	path = foundation/module/Mantle
	url = https://github.com/Mantle/Mantle.git
	branch = master
[submodule "ui/animation/AnimatedTransitionGallery"]
	path = ui/req.animation/AnimatedTransitionGallery
	url = https://github.com/shu223/AnimatedTransitionGallery.git
	branch = master
[submodule "foundation/file/FCFileManager"]
	path = foundation/file/FCFileManager
	url = https://github.com/fabiocaccamo/FCFileManager.git
	branch = master
[submodule "coredata/KORData"]
	path = coredata/KORData
	url = https://github.com/olistaats/KORData.git
	branch = master
[submodule "ui/animation/UzysAnimatedGifPullToRefresh"]
	path = ui/req.animation/UzysAnimatedGifPullToRefresh
	url = https://github.com/uzysjung/UzysAnimatedGifPullToRefresh.git
	branch = master
[submodule "ui/segment/NYSegmentedControl"]
	path = ui/ext.UISegmentControl/NYSegmentedControl
	url = https://github.com/nealyoung/NYSegmentedControl.git
	branch = master
[submodule "ui/req.menu/APHorizontalMenu"]
	path = ui/req.menu/APHorizontalMenu
	url = https://github.com/apascual/APHorizontalMenu.git
	branch = master
[submodule "ui/wizard/TutorialKit"]
	path = ui/req.wizard/TutorialKit
	url = https://github.com/lostinthepines/TutorialKit.git
	branch = master
[submodule "ui/wizard/ACETelPrompt"]
	path = ui/req.wizard/ACETelPrompt
	url = https://github.com/acerbetti/ACETelPrompt.git
	branch = master
[submodule "ui/pages/RASlideInViewController"]
	path = ui/req.page2page/RASlideInViewController
	url = https://github.com/ra1028/RASlideInViewController.git
	branch = master
[submodule "ui/wizard/MFHWireframes"]
	path = ui/req.wizard/MFHWireframes
	url = https://github.com/matt-holden/MFHWireframes.git
	branch = master
[submodule "doc/article/objccn.io-articles"]
	path = doc/article/objccn.io-articles
	url = https://github.com/objccn/articles.git
	branch = master
[submodule "ui/exhibition/iCarousel"]
	path = ui/req.page2page/iCarousel
	url = https://github.com/nicklockwood/iCarousel.git
	branch = master
[submodule "ui/req.menu/RESideMenu"]
	path = ui/req.menu/RESideMenu
	url = https://github.com/romaonthego/RESideMenu.git
	branch = master
[submodule "ui/image/SDWebImage"]
	path = ui/req.image/SDWebImage
	url = https://github.com/rs/SDWebImage.git
	branch = master
[submodule "ui/exhibition/PSCollectionView"]
	path = ui/ext.UICollectionView/PSCollectionView
	url = https://github.com/ptshih/PSCollectionView.git
	branch = master
[submodule "cloud/baas/RestKit"]
	path = cloud/baas/RestKit
	url = https://github.com/RestKit/RestKit.git
	branch = master
[submodule "cloud/baas/ios-SDK"]
	path = cloud/baas/ios-SDK
	url = https://github.com/Backendless/ios-SDK.git
	branch = master
[submodule "cloud/network/AFNetworking"]
	path = cloud/network/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
	branch = master
[submodule "ui/req.menu/SMTabbedSplitViewController"]
	path = ui/req.menu/SMTabbedSplitViewController
	url = https://github.com/sergik-ru/SMTabbedSplitViewController.git
	branch = master
[submodule "foundation/kvo/KVOController"]
	path = foundation/kvo/KVOController
	url = https://github.com/facebook/KVOController.git
	branch = master
[submodule "ui/table/BRFlabbyTable"]
	path = ui/ext.UITableView/BRFlabbyTable
	url = https://github.com/brocoo/BRFlabbyTable.git
	branch = master
[submodule "cloud/wechat/WechatPayDemo"]
	path = cloud/wechat/WechatPayDemo
	url = https://github.com/gbammc/WechatPayDemo.git
	branch = master
[submodule "ui/alert/SIAlertView"]
	path = ui/ext.UIAlertView/SIAlertView
	url = https://github.com/Sumi-Interactive/SIAlertView.git
	branch = master
[submodule "database/sqlite/fmdb"]
	path = database/sqlite/fmdb
	url = https://github.com/ccgus/fmdb.git
	branch = master
[submodule "cloud/baas/avoscloud-sdk"]
	path = cloud/baas/avoscloud-sdk
	url = https://github.com/avoscloud/avoscloud-sdk.git
	branch = master
[submodule "foundation/language/Overline"]
	path = foundation/language/Overline
	url = https://github.com/yaakaito/Overline.git
	branch = master
[submodule "ui/req.text/JVFloatLabeledTextField"]
	path = ui/req.text/JVFloatLabeledTextField
	url = https://github.com/jverdi/JVFloatLabeledTextField.git
	branch = master
[submodule "ui/table/UITableViewCell-Swipe-for-Options"]
	path = ui/ext.UITableView/UITableViewCell-Swipe-for-Options
	url = https://github.com/TeehanLax/UITableViewCell-Swipe-for-Options.git
	branch = master
[submodule "ui/req.menu/KEYPullDownMenu"]
	path = ui/req.menu/KEYPullDownMenu
	url = https://github.com/mmackh/KEYPullDownMenu.git
	branch = master
[submodule "ui/pages/SCStackViewController"]
	path = ui/req.page2page/SCStackViewController
	url = https://github.com/stefanceriu/SCStackViewController.git
	branch = master
[submodule "ui/keyboard/CustomKeyboard"]
	path = ui/req.keyboard/CustomKeyboard
	url = https://github.com/kalvish21/CustomKeyboard.git
	branch = master
[submodule "test/integration/Subliminal"]
	path = test/integration/Subliminal
	url = https://github.com/inkling/Subliminal.git
	branch = master
[submodule "ui/req.text/PSPDFTextView"]
	path = ui/req.text/PSPDFTextView
	url = https://github.com/steipete/PSPDFTextView.git
	branch = master
[submodule "map/annotation/OMAMovingAnnotations"]
	path = map/annotation/OMAMovingAnnotations
	url = https://github.com/opedge/OMAMovingAnnotations.git
	branch = master
[submodule "ui/table/JBParallaxCell"]
	path = ui/ext.UITableView/JBParallaxCell
	url = https://github.com/jberlana/JBParallaxCell.git
	branch = master
[submodule "ui/graph/SHLineGraphView"]
	path = ui/req.chart_graph/SHLineGraphView
	url = https://github.com/grevolution/SHLineGraphView.git
	branch = master
[submodule "ui/animation/MZLoading"]
	path = ui/req.animation/MZLoading
	url = https://github.com/SergheiMazur/MZLoading.git
	branch = master
[submodule "ui/req.text/CHChromaHashView"]
	path = ui/req.text/CHChromaHashView
	url = https://github.com/mattt/CHChromaHashView.git
	branch = master
[submodule "coredata/MagicalRecord"]
	path = coredata/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
	branch = master
[submodule "ui/form/XLForm"]
	path = ui/req.form/XLForm
	url = https://github.com/xmartlabs/XLForm.git
	branch = master
[submodule "ui/share/overshare-kit"]
	path = ui/req.share/overshare-kit
	url = https://github.com/overshare/overshare-kit.git
	branch = master
[submodule "ui/animation/CBHazeTransitionViewController"]
	path = ui/req.animation/CBHazeTransitionViewController
	url = https://github.com/coolbeet/CBHazeTransitionViewController.git
	branch = master
[submodule "ui/image/HyperImageView"]
	path = ui/req.image/HyperImageView
	url = https://github.com/xerxes235/HyperImageView.git
	branch = master
[submodule "ui/exhibition/PWParallaxScrollView"]
	path = ui/req.page2page/PWParallaxScrollView
	url = https://github.com/wpsteak/PWParallaxScrollView.git
	branch = master
[submodule "cloud/api/octokit.objc"]
	path = cloud/api/octokit.objc
	url = https://github.com/octokit/octokit.objc.git
	branch = master
[submodule "foundation/language/NSString-VTSubstringOccurrences"]
	path = foundation/language/NSString-VTSubstringOccurrences
	url = https://github.com/vtourraine/NSString-VTSubstringOccurrences.git
	branch = master
[submodule "ui/ticker/SBTickerView"]
	path = ui/req.ticker/SBTickerView
	url = https://github.com/blommegard/SBTickerView.git
	branch = master
[submodule "ui/graph/TEAChart"]
	path = ui/req.chart_graph/TEAChart
	url = https://github.com/xhacker/TEAChart.git
	branch = master
[submodule "ui/animation/PMTween"]
	path = ui/req.animation/PMTween
	url = https://github.com/poetmountain/PMTween.git
	branch = master
[submodule "ui/image/LVImageBrowser"]
	path = ui/req.image/LVImageBrowser
	url = https://github.com/CodeEagle/LVImageBrowser.git
	branch = master
[submodule "ui/req.menu/AKPickerView"]
	path = ui/req.menu/AKPickerView
	url = https://github.com/Akkyie/AKPickerView.git
	branch = master
[submodule "ui/pages/AMWaveTransition"]
	path = ui/req.page2page/AMWaveTransition
	url = https://github.com/andreamazz/AMWaveTransition.git
	branch = master
[submodule "ui/exhibition/HAPaperViewController"]
	path = ui/req.page2page/HAPaperViewController
	url = https://github.com/hebertialmeida/HAPaperViewController.git
	branch = master
[submodule "ui/date/CalendarIOS7"]
	path = ui/req.date/CalendarIOS7
	url = https://github.com/leverdeterre/CalendarIOS7.git
	branch = master
[submodule "ui/req.text/DDHTextView"]
	path = ui/req.text/DDHTextView
	url = https://github.com/dasdom/DDHTextView.git
	branch = master
[submodule "ui/date/FFCalendar"]
	path = ui/req.date/FFCalendar
	url = https://github.com/fggeraissate/FFCalendar.git
	branch = master
[submodule "ui/req.form/DCDataViews"]
	path = ui/req.form/DCDataViews
	url = https://github.com/daltoniam/DCDataViews.git
	branch = master
[submodule "ui/ext.UIActionSheet/AHKActionSheet"]
	path = ui/ext.UIActionSheet/AHKActionSheet
	url = https://github.com/fastred/AHKActionSheet.git
	branch = master
[submodule "ui/ext.UICollectionView/UICollectionViewLeftAlignedLayout"]
	path = ui/ext.UICollectionView/UICollectionViewLeftAlignedLayout
	url = https://github.com/mokagio/UICollectionViewLeftAlignedLayout.git
	branch = master
[submodule "ui/req.chart_graph/GraphKit"]
	path = ui/req.chart_graph/GraphKit
	url = https://github.com/michalkonturek/GraphKit.git
	branch = master
[submodule "ui/req.page2page/SSStackedPageView"]
	path = ui/req.page2page/SSStackedPageView
	url = https://github.com/PlenipotentSS/SSStackedPageView.git
	branch = master
[submodule "ui/req.search/ILRemoteSearchBar"]
	path = ui/req.search/ILRemoteSearchBar
	url = https://github.com/Adrian2112/ILRemoteSearchBar.git
	branch = master
[submodule "cloud/personal/liquid-sdk-ios"]
	path = cloud/personal/liquid-sdk-ios
	url = https://github.com/lqd-io/liquid-sdk-ios.git
	branch = master
[submodule "ui/ext.UIStepper/SAStepperControl"]
	path = ui/ext.UIStepper/SAStepperControl
	url = https://github.com/shams-ahmed/SAStepperControl.git
	branch = master
[submodule "ui/ext.UIAlertView/AMSmoothAlert"]
	path = ui/ext.UIAlertView/AMSmoothAlert
	url = https://github.com/mtonio91/AMSmoothAlert.git
	branch = master
[submodule "ui/ext.UIImage/KBTemplateImage"]
	path = ui/ext.UIImage/KBTemplateImage
	url = https://github.com/kam800/KBTemplateImage.git
	branch = master
[submodule "ui/req.chart_graph/JCStockGraph"]
	path = ui/req.chart_graph/JCStockGraph
	url = https://github.com/jconst/JCStockGraph.git
	branch = master
[submodule "ui/req.message/JSQMessagesViewController"]
	path = ui/req.message/JSQMessagesViewController
	url = https://github.com/jessesquires/JSQMessagesViewController.git
	branch = master
[submodule "ui/req.image/GPUImage"]
	path = ui/req.image/GPUImage
	url = https://github.com/BradLarson/GPUImage.git
	branch = master
[submodule "ui/req.time/BEMAnalogClock"]
	path = ui/req.time/BEMAnalogClock
	url = https://github.com/Boris-Em/BEMAnalogClock.git
	branch = master
[submodule "foundation/language/AutoNSCoding"]
	path = foundation/language/AutoNSCoding
	url = https://github.com/shjborage/AutoNSCoding.git
	branch = master
[submodule "foundation/language/AutoCoding"]
	path = foundation/language/AutoCoding
	url = https://github.com/nicklockwood/AutoCoding.git
	branch = master
[submodule "ui/req.progressbar/ASProgressPopUpView"]
	path = ui/req.progressbar/ASProgressPopUpView
	url = https://github.com/alskipp/ASProgressPopUpView.git
	branch = master
[submodule "ui/ext.UIButton/CMDAwesomeButton"]
	path = ui/ext.UIButton/CMDAwesomeButton
	url = https://github.com/calebd/CMDAwesomeButton.git
	branch = master
[submodule "cloud/network/CocoaAsyncSocket"]
	path = cloud/network/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
	branch = master
[submodule "ui/ext.UINavigationBar/CustomNavigationBar"]
	path = ui/ext.UINavigationBar/CustomNavigationBar
	url = https://github.com/jimple/CustomNavigationBar.git
	branch = master
[submodule "cloud/protocol/CocoaSSDP"]
	path = cloud/protocol/CocoaSSDP
	url = https://github.com/sboisson/CocoaSSDP.git
	branch = master
[submodule "ui/req.page2page/TGLStackedViewController"]
	path = ui/req.page2page/TGLStackedViewController
	url = https://github.com/gleue/TGLStackedViewController.git
	branch = master
[submodule "app/life/AYi"]
	path = app/life/AYi
	url = https://github.com/xu54/AYi.git
	branch = master
